{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{{ language_code }}">
<head>

    <meta charset="utf-8">
		<link rel="icon" href="/favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#f2f2f2">
		<link rel="apple-touch-icon" href="/favicon.png">
		<link href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' %}" rel="stylesheet">
        <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SocioHub</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static '/feed.css' %}" />
    <link rel="stylesheet" href="{% static '/style.css' %}" />
    <link
      rel="preload"
      as="style"
      href="{% static 'mobirise/css/mbr-additional.css' %}"
    />
    <link rel="stylesheet" href="{% static 'theme/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap-reboot.min.css' %}"
    />

    <script src="comment.js"></script>
    <script src="like.js"></script>
		  <link rel="shortcut icon" href="{% static 'images/sociohublogo.png' %}" type="image/x-icon">
  <meta name="description" content="">

  <title>Login</title>
    <script src="validation.js"></script>
  <link rel="stylesheet" href="{% static 'mobirise-icons/mobirise-icons.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'socicon/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'tether/tether.min.css' %}">
  <link rel="stylesheet" href="{% static 'dropdown/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'theme/css/style.css' %}">
  <link rel="preload" as="style" href="{% static 'mobirise/css/mbr-additional.css' %}">
    <link rel="stylesheet" href="{% static 'mobirise/css/mbr-additional.css' %}" type="text/css">

    <title>Simple Django Login and Registration</title>

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

</head>
<body>
	  <section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-0">



    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="{% url 'index' %}">
                         <img src="{% static 'images/sociohublogo.png' %}" alt="Logo" style="height: 3.8rem;">
                    </a>
                </span>

            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-white display-5" href="">
                        <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                        Services
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-5" href="">
                        <span class="mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                        About Us
                    </a>
                </li></ul>

        </div>
    </nav>
</section>

<div class="container-fluid mt-3">
<br><br><br>
    {% bootstrap_messages %}

    {% block content %}
        No content.
    {% endblock %}

</div>

<script src="{% static 'vendor/jquery/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'vendor/popper/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

</body>
</html>
